# Лабораторная работа №1 (Зябрев Кирилл, МО-221)

# Гипотезы:

1) Окупаемость фильма тем больше, чем меньше возрастной рейтинг фильма.
2) Фильмы с элементами драмы чаще всех имеют IMDB рейтинг выше 8. 
3) Фильмы с бюджетом выше среднего (по миру) имеют в среднем более высокую продолжительность, чем остальные.

Импортируем библиотеки

In [1]:
import pandas as pd
import numpy as np

Создадим датафрейм

In [2]:
df = pd.read_csv("..\data\Dataset1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4961 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Форматируем названия столбцов датафрейма:

In [3]:
df = df.rename (
    columns = {
        'Director_Name' : 'director_name',
        'num_Critic_for_reviews' : 'num_critic_for_reviews',
        'director_Facebook_likes' : 'director_facebook_likes',
        'actor_3_Facebook_likes' : 'actor_3_facebook_likes',
        'Actor_1_Facebook_likes' : 'actor_1_facebook_likes',
        ' cast_total_facebook_likes' : 'cast_total_facebook_likes',
        'movie_Title' : 'movie_title',
        'movie_facebook_likes;' : 'movie_facebook_likes'
    }
)

df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Найдем число явных дубликатов:

In [4]:
df.duplicated().sum()

45

Избавимся от них:

In [5]:
df = df.drop_duplicates().reset_index(drop = True)

Проверим:

In [6]:
df.duplicated().sum()

0

Заметим, что некоторые данные внесены в датасет некорректно.

In [7]:
df['color'].unique()

array(['Color', 'Colour', nan, 'color',
       'Color,Andrew Adamson,284,150,80,82,Kiran Shah,1000,291709845,Adventure|Family|Fantasy,Jim Broadbent,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe\xa0",286506,1317,Shane Rangi,5,hide and seek|lion|magic|professor|snow,http://www.imdb.com/title/tt0363771/?ref_=fn_tt_tt_1,1463,English,USA,PG,180000000,2005,190,6.9,2.35,0;',
       ' Black and White',
       'Color,Pete Docter,250,92,0,773,John Ratzenberger,12000,289907418,Adventure|Animation|Comedy|Family|Fantasy,Steve Buscemi,"Monsters, Inc.\xa0",585659,15013,James Coburn,0,friend|little girl|monster|rival|scream,http://www.imdb.com/title/tt0198781/?ref_=fn_tt_tt_1,593,English,USA,G,115000000,2001,1000,8.1,1.85,0;',
       'Color,Alex Proyas,225,115,295,466,Bruce Greenwood,10000,144795350,Action|Mystery|Sci-Fi|Thriller,Will Smith,"I, Robot\xa0",387632,12068,Chi McBride,1,humanoid robot|man versus machine|prosthetic limb|robot as pathos|robot vs. robot,http://www.imdb.com/title/tt0343818/?ref_=fn_tt_tt_1,789,English,USA,PG-13,120000000,2004,981,7.1,2.35,0;',
       ',Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.\xa0            ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;',
       'Color,Stuart Beattie,308,92,72,568,Kevin Grevioux,623,19059018,Action|Fantasy|Sci-Fi|Thriller,Caitlin Stasey,"I, Frankenstein\xa0",65709,3165,Miranda Otto,0,army|creature|demon|frankenstein|gargoyle,http://www.imdb.com/title/tt1418377/?ref_=fn_tt_tt_1,194,English,Australia,PG-13,65000000,2014,593,5.1,2.35,15000;',
       'Color,,20,22,,271,Soleil Moon Frye,870,,Comedy|Family|Fantasy,Nate Richert,"Sabrina, the Teenage Witch\xa0            ",24420,2433,Caroline Rhea,1,female protagonist|hereditary gift of witchcraft|magic|supernatural|witch,http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1,94,English,USA,TV-G,3000000,,558,6.6,1.33,990;',
       'Color,Anthony Russo,136,110,94,240,Billy Gardell,277,75604320,Comedy|Romance,Todd Stashwick,"You, Me and Dupree\xa0",68417,847,Amanda Detmer,1,best friend|foot fetish|houseguest|newlywed|wedding,http://www.imdb.com/title/tt0463034/?ref_=fn_tt_tt_1,195,English,USA,PG-13,54000000,2006,245,5.6,1.85,0;',
       'Color,Bobby Farrelly,155,116,101,79,Tony Cox,889,90567722,Comedy,Robert Forster,"Me, Myself & Irene\xa0",185878,1711,Rob Moran,1,dissociative identity disorder|limousine|multiple personality|police|rhode island,http://www.imdb.com/title/tt0183505/?ref_=fn_tt_tt_1,481,English,USA,R,51000000,2000,624,6.5,1.85,0;',
       'Color,Glenn Ficarra,310,118,43,7000,Emma Stone,33000,84244877,Comedy|Drama|Romance,Ryan Gosling,"Crazy, Stupid, Love.\xa0",375456,57426,Steve Carell,7,bar|divorce|friend|girl|male objectification,http://www.imdb.com/title/tt1570728/?ref_=fn_tt_tt_1,292,English,USA,PG-13,50000000,2011,15000,7.4,2.39,44000;',
       'Color,Melville Shavelson,8,111,5,559,Tom Bosley,6000,,Comedy|Family,Lucille Ball,"Yours, Mine and Ours\xa0",5888,7493,Tim Matheson,0,nurse|parent|sibling|widow|widower,http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1,61,English,USA,Unrated,2500000,1968,584,7.2,1.85,0;',
       'Color,John Hamburg,215,105,29,257,Jon Favreau,24000,71347010,Comedy|Romance,J.K. Simmons,"I Love You, Man\xa0",166194,28928,Jane Curtin,2,bromance|friend|gay brother|homosexual subtext|wedding,http://www.imdb.com/title/tt1155056/?ref_=fn_tt_tt_1,215,English,USA,R,40000000,2009,4000,7.1,1.85,0;',
       'Color,Taylor Hackford,12,330,138,672,Jesse Borrego,848,4496583,Crime|Drama,Delroy Lindo,"Blood In, Blood Out\xa0",23181,3227,Raymond Cruz,2,1970s|1980s|barrio|gang war|mexican,http://www.imdb.com/title/tt0106469/?ref_=fn_tt_tt_1,129,English,USA,R,35000000,1993,674,8.0,1.66,6000;',
       'Color,John Whitesell,88,113,14,534,Tony Curran,918,37911876,Action|Comedy|Crime,Brandon T. Jackson,"Big Mommas: Like Father, Like Son\xa0",19671,3500,Portia Doubleday,2,fbi agent|murder|performing arts school|scene during end credits|undercover,http://www.imdb.com/title/tt1464174/?ref_=fn_tt_tt_1,47,English,USA,PG-13,32000000,2011,845,4.4,2.35,0;',
       'Color,Miguel Arteta,119,81,44,3000,Steve Carell,35000,66950483,Comedy|Family,Bella Thorne,"Alexander and the Terrible, Horrible, No Good, Very Bad Day\xa0",29738,47677,Jennifer Garner,6,bad day|based on book|birthday|job interview|long title,http://www.imdb.com/title/tt1698641/?ref_=fn_tt_tt_1,85,English,USA,PG,28000000,2014,7000,6.2,2.39,12000;',
       'Color,Jay Roach,74,119,116,385,Mary McCormack,738,8888143,Comedy|Drama|Sport,Scott Grimes,"Mystery, Alaska\xa0",22250,2171,Ron Eldard,0,alaska|male nudity|nudity|sex|small town,http://www.imdb.com/title/tt0134618/?ref_=fn_tt_tt_1,123,English,Canada,R,28000000,1999,428,6.7,2.35,913;',
       'Color,Malcolm D. Lee,76,114,92,436,Mike Epps,940,42168445,Comedy|Drama|Romance,Mo\'Nique,"Welcome Home, Roscoe Jenkins\xa0",10791,3565,Cedric the Entertainer,3,african american protagonist|comma in title|four word title|name in title|talk show host,http://www.imdb.com/title/tt0494652/?ref_=fn_tt_tt_1,39,English,USA,PG-13,35000000,2008,706,5.3,1.85,464;',
       'Color,Joel Coen,197,107,0,577,Tim Blake Nelson,1000,45506619,Adventure|Comedy|Crime|Music,Holly Hunter,"O Brother, Where Art Thou?\xa0",225102,3066,Daniel von Bargen,3,baby|bank|blind prophet|convict|sirens,http://www.imdb.com/title/tt0190590/?ref_=fn_tt_tt_1,862,English,UK,PG-13,26000000,2000,596,7.8,2.35,16000;',
       'Color,Charles Herman-Wurmfeld,133,95,0,643,Bruce McGill,934,89808372,Comedy,Mary Lynn Rajskub,"Legally Blonde 2: Red, White & Blonde\xa0",46417,3500,Bob Newhart,2,animal rights|congresswoman|doorman|transvestism|washington d.c.,http://www.imdb.com/title/tt0333780/?ref_=fn_tt_tt_1,297,English,USA,PG-13,45000000,2003,655,4.6,1.85,660;',
       'Color,James Bridges,28,107,21,418,Phoebe Cates,967,16118077,Drama,Dianne Wiest,"Bright Lights, Big City\xa0",5817,3067,Swoosie Kurtz,0,estranged wife|fashion show|magazine|new york city|writer,http://www.imdb.com/title/tt0094799/?ref_=fn_tt_tt_1,37,English,USA,R,25000000,1988,767,5.6,1.85,377;',
       'Color,James Mangold,133,127,446,898,Clea DuVall,11000,28871190,Biography|Drama,Angelina Jolie Pitt,"Girl, Interrupted\xa0",125421,13433,Vanessa Redgrave,0,1960s|father daughter incest|mental hospital|suicide|suicide attempt,http://www.imdb.com/title/tt0172493/?ref_=fn_tt_tt_1,385,English,USA,R,24000000,1999,1000,7.3,1.85,0;',
       'Color,Ethan Coen,423,106,1000,1000,Channing Tatum,19000,29997095,Comedy|Mystery,Scarlett Johansson,"Hail, Caesar!\xa0",60926,38494,Alden Ehrenreich,5,50s|film within a film|hollywood|illegitimate pregnancy|twins,http://www.imdb.com/title/tt0475290/?ref_=fn_tt_tt_1,302,English,UK,PG-13,22000000,2016,17000,6.4,1.85,23000;',
       'Color,Charlie Kaufman,245,124,0,631,Jennifer Jason Leigh,22000,3081925,Comedy|Drama|Romance,Philip Seymour Hoffman,"Synecdoche, New York\xa0",55842,24732,Samantha Morton,0,actress|director|play|theatre director|warehouse,http://www.imdb.com/title/tt0383028/?ref_=fn_tt_tt_1,274,English,USA,R,21000000,2008,1000,7.5,2.35,13000;',
       'Color,,,43,,211,Jenni \'Jwoww\' Farley,341,,Comedy|Drama|Reality-TV|Romance,Nicole \'Snooki\' Polizzi,"Gone, Baby, Gone\xa0            ",29,1462,Paul \'Pauly D\' DelVecchio,1,lifestyle,http://www.imdb.com/title/tt1697237/?ref_=fn_tt_tt_1,,English,,TV-14,,,230,6.6,1.33,0;',
       'Color,Chris Columbus,107,102,0,529,Marie Avgeropoulos,946,14793904,Comedy|Romance,Alan Ruck,"I Love You, Beth Cooper\xa0",28209,4072,Shawn Roberts,1,cheerleader|party|popular girl|speech|valedictorian,http://www.imdb.com/title/tt1032815/?ref_=fn_tt_tt_1,80,English,Canada,PG-13,18000000,2009,800,5.3,1.85,0;',
       'Color,Niki Caro,113,129,51,89,Valente Rodriguez,427,44469602,Biography|Drama|Sport,Morgan Saylor,"McFarland, USA\xa0",23480,952,Diana Maria Riva,0,coach|high school|place name in title|school|student,http://www.imdb.com/title/tt2097298/?ref_=fn_tt_tt_1,83,English,USA,PG,17000000,2015,234,7.4,2.35,21000;',
       'Color,Ang Lee,287,120,0,5,Pei-Pei Cheng,103,128067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden Dragon\xa0",217740,129,Sihung Lung,3,bare midriff|china|magical realism|martial arts|sword,http://www.imdb.com/title/tt0190332/?ref_=fn_tt_tt_1,1641,Mandarin,Taiwan,PG-13,15000000,2000,21,7.9,2.35,0;',
       'Color,Martin Scorsese,59,136,17000,213,Liza Minnelli,22000,,Drama|Music|Musical|Romance,Robert De Niro,"New York, New York\xa0",13548,23378,Mary Kay Place,0,love|musician|saxophonist|singer|songwriter,http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1,75,English,USA,PG,14000000,1977,740,6.7,1.66,932;',
       'Color,Barry Levinson,62,121,272,227,J.T. Walsh,49000,123922370,Biography|Comedy|Drama|War,Robin Williams,"Good Morning, Vietnam\xa0",98348,50141,Bruno Kirby,1,disc jockey|friendship|radio|vietnam|vietnamese,http://www.imdb.com/title/tt0093105/?ref_=fn_tt_tt_1,131,English,USA,R,13000000,1987,263,7.3,1.85,0;',
       'Color,Danny Leiner,106,83,8,612,Mary Lynn Rajskub,3000,46729374,Comedy|Mystery,Jennifer Garner,"Dude, Where\'s My Car?\xa0",116625,6454,Marla Sokoloff,2,bare chested male|gay kiss|homoeroticism|lesbian kiss|transsexual,http://www.imdb.com/title/tt0242423/?ref_=fn_tt_tt_1,469,English,USA,PG-13,13000000,2000,934,5.5,1.37,0;',
       'Color,Olivier Assayas,165,120,107,280,Miranda Richardson,12000,4857376,Comedy|Drama|Romance,Steve Buscemi,"Paris, je t\'aime\xa0",63084,13208,Catalina Sandino Moreno,0,baby|divorce|oscar wilde|pigalle|tourist,http://www.imdb.com/title/tt0401711/?ref_=fn_tt_tt_1,123,French,France,R,13000000,2006,530,7.3,1.85,0;',
       'Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop\xa0",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;',
       'Color,Neal Brennan,83,89,23,503,Noureen DeWulf,839,15102127,Comedy,Rob Riggle,"The Goods: Live Hard, Sell Hard\xa0",17790,3973,Charles Napier,5,fourth of july|looking at one\'s self in a mirror|mirror|sex toy|young version of character,http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1,59,English,USA,R,,2009,700,5.8,1.85,0;',
       'Color,David Schwimmer,168,100,0,231,Iddo Goldberg,427,5998971,Comedy|Romance|Sport,Dylan Moran,"Run, Fatboy, Run\xa0",58509,1022,India de Beaufort,0,blister|gym|marathon|training|wedding,http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1,143,English,UK,PG-13,,2007,269,6.6,2.35,0;',
       'Color,Jay Duplass,182,83,157,581,Evan Ross,2000,4244155,Comedy|Drama,Judy Greer,"Jeff, Who Lives at Home\xa0",56005,3374,Rae Dawn Chong,5,basement|errand|secret admirer|slacker|wrong number,http://www.imdb.com/title/tt1588334/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2011,616,6.5,1.85,0;',
       'Color,Joshua Seftel,79,107,0,91,Sergej Trifunovic,603,578527,Action|Comedy|Thriller,Bashar Rahal,"War, Inc.\xa0",20008,988,Ned Bellamy,3,assassin|corporation|pop star|reporter|satire,http://www.imdb.com/title/tt0884224/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2008,175,5.7,1.78,883;',
       'Color,Rafa Lara,12,125,21,36,Andrés Montiel,78,169379,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla\xa0",683,221,William Miller,1,,http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1,3,Spanish,Mexico,R,10000000,2013,61,6.2,,874;',
       'Color,Jee-woon Kim,152,135,419,7,Woo-sung Jung,398,128486,Action|Adventure|Comedy|Western,Kang-ho Song,"The Good, the Bad, the Weird\xa0",26156,569,Dal-su Oh,0,bounty hunter|manchuria|map|train|treasure,http://www.imdb.com/title/tt0901487/?ref_=fn_tt_tt_1,74,Korean,South Korea,R,10000000,2008,149,7.3,2.35,0;',
       'Color,Stanley Kramer,61,197,176,760,Sid Caesar,924,46300000,Action|Adventure|Comedy|Crime,Jonathan Winters,"It\'s a Mad, Mad, Mad, Mad World\xa0",29323,4109,Spencer Tracy,0,california|desert|dying words|money|race,http://www.imdb.com/title/tt0057193/?ref_=fn_tt_tt_1,344,English,USA,Approved,9400000,1963,898,7.6,2.76,0;',
       'Color,Martyn Pick,19,76,4,151,Steven Waddington,722,,Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller,Sean Pertwee,"Ultramarines: A Warhammer 40,000 Movie\xa0",4990,1254,Donald Sumpter,0,grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k,http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1,64,English,UK,R,,2010,212,5.7,1.85,0;',
       'Color,Adam Brooks,160,112,20,61,Sakina Jaffrey,16000,31973840,Comedy|Drama|Romance,Ryan Reynolds,"Definitely, Maybe\xa0",127760,16289,Paulina Gerzon,5,college|daughter|girl|sex|wisconsin,http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1,168,English,Germany,PG-13,,2008,109,7.2,2.35,0;',
       ' Black and White,George Clooney,351,93,0,566,Tate Donovan,21000,31501218,Biography|Drama|History,Robert Downey Jr.,"Good Night, and Good Luck.\xa0",84070,22745,Alex Borstein,0,cbs|expose|fear|paranoia|reporter,http://www.imdb.com/title/tt0433383/?ref_=fn_tt_tt_1,526,English,USA,PG,7500000,2005,650,7.5,1.85,0;',
       'Color,Gabriele Muccino,36,125,125,11,Silvio Muccino,60,223878,Comedy|Drama|Romance,Laura Morante,"Remember Me, My Love\xa0",3548,132,Giulia Michelini,1,box office hit|dancer|sex scene|television|underage sex,http://www.imdb.com/title/tt0323807/?ref_=fn_tt_tt_1,21,Italian,Italy,R,5000000,2003,29,6.5,2.35,282;',
       'Color,S.R. Bindler,26,85,0,499,Scott Glenn,11000,36497,Comedy,Matthew McConaughey,"Surfer, Dude\xa0",7367,14599,Sarah Wright,0,barefoot|endorsement|surfboard|virtual reality|waves,http://www.imdb.com/title/tt0976247/?ref_=fn_tt_tt_1,37,English,USA,R,6000000,2008,826,4.7,1.85,850;',
       'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,617,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22123,799,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;',
       'Color,John Erick Dowdle,196,93,66,161,Edwin Hodge,1000,21197315,Horror|Mystery|Thriller,Ben Feldman,"As Above, So Below\xa0",49948,1410,Perdita Weeks,0,archeologist|catacomb|found footage|paris france|philosopher\'s stone,http://www.imdb.com/title/tt2870612/?ref_=fn_tt_tt_1,211,English,USA,R,5000000,2014,200,6.1,1.85,14000;',
       'Color,Feroz Abbas Khan,16,136,0,14,Bhoomika Chawla,75,240425,Biography|Drama|History,Akshaye Khanna,"Gandhi, My Father\xa0",1311,172,Darshan Jariwala,0,africa|hindu|india|muslim|south africa,http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1,25,Hindi,India,,,2007,45,7.4,2.35,133;',
       'Color,Nicholas Fackler,27,90,6,940,Ellen Burstyn,3000,124720,Drama|Romance,Adam Scott,"Lovely, Still\xa0",1560,4987,Martin Landau,0,christmas|fable|old man,http://www.imdb.com/title/tt1150947/?ref_=fn_tt_tt_1,15,English,USA,PG,5000000,2008,1000,7.3,1.85,777;',
       'Color,Jorge Ramírez Suárez,26,120,45,69,Adriana Barraza,623,100412,Drama,Hector Kotsifakis,"Buen Día, Ramón\xa0",2112,824,Arcelia Ramírez,0,,http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1,7,German,Mexico,PG-13,4000000,2013,85,7.7,2.35,0;',
       'Color,Jay Oliva,44,148,41,739,Mark Valley,2000,,Action|Animation|Crime|Sci-Fi|Thriller,Michael Emerson,"Batman: The Dark Knight Returns, Part 2\xa0",30434,5526,Grey Griffin,0,batman|joker|mutant|tattoo on breast|the joker,http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1,55,English,USA,PG-13,3500000,2013,774,8.4,,5000;',
       'Color,Joe Cross,13,97,65,0,Joel Fuhrman,65,,Documentary,Joe Cross,"Fat, Sick & Nearly Dead\xa0",6429,67,Amy Badberg,2,fat|food|health|juice|obese,http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1,25,English,Australia,,2500000,2010,2,7.6,,10000;',
       'Color,Tim McCanlies,15,97,23,326,Michael O\'Neill,982,565592,Comedy|Drama|Family,Ethan Embry,"Dancer, Texas Pop. 81\xa0",2189,2580,Alexandra Holden,0,best friend|friendship|population|state in title|texas,http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1,63,English,USA,PG,,1998,599,6.8,1.85,500;',
       'Color,Gary Rogers,7,120,0,40,Kirby Heyborne,178,1098224,Adventure,Noah Danby,"The Book of Mormon Movie, Volume 1: The Journey\xa0",397,359,Bruce Newbold,1,jerusalem|journey|promised land|ship|wilderness,http://www.imdb.com/title/tt0349159/?ref_=fn_tt_tt_1,30,English,USA,PG-13,2000000,2003,69,3.3,1.85,32;',
       'Color,Simon Napier-Bell,,81,0,8,Tim Rice,674,,Documentary,Alice Cooper,"To Be Frank, Sinatra at 100\xa0",7,712,Louis Walsh,0,,http://www.imdb.com/title/tt4704314/?ref_=fn_tt_tt_1,,English,UK,,2000000,2015,27,7.4,,0;',
       'Color,Mark Illsley,77,98,3,327,Illeana Douglas,349,1943649,Comedy|Crime|Romance,Ally Walker,"Happy, Texas\xa0",8697,2095,Jeremy Northam,3,banker|beauty pageant|escaped convict|gay|pageant,http://www.imdb.com/title/tt0162360/?ref_=fn_tt_tt_1,122,English,USA,PG-13,1700000,1999,347,6.3,1.85,374;',
       'Color,Guy Ritchie,116,120,0,452,Jason Flemyng,26000,3650677,Comedy|Crime,Jason Statham,"Lock, Stock and Two Smoking Barrels\xa0",414976,28294,Dexter Fletcher,1,antique|cockney accent|hatchet|money|shotgun,http://www.imdb.com/title/tt0120735/?ref_=fn_tt_tt_1,523,English,UK,R,960000,1998,1000,8.2,1.85,21000;',
       'Color,Steven Soderbergh,58,100,0,65,Laura San Giacomo,828,24741700,Drama,Peter Gallagher,"Sex, Lies, and Videotape\xa0",37785,1431,Steven Brill,2,affair|interview|marriage|sex|videotape,http://www.imdb.com/title/tt0098724/?ref_=fn_tt_tt_1,95,English,USA,R,1200000,1989,531,7.2,1.85,2000;',
       'Color,Sergio Leone,181,142,0,24,Luigi Pistilli,16000,6100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly\xa0",503509,16089,Enzo Petito,3,civil war|hitman|outlaw|shootout|spaghetti western,http://www.imdb.com/title/tt0060196/?ref_=fn_tt_tt_1,780,Italian,Italy,Approved,1200000,1966,34,8.9,2.35,20000;',
       'Color,Léa Pool,23,97,4,,,,24784,Documentary,,"Pink Ribbons, Inc.\xa0",591,0,,0,breast cancer|comma in title|period in title|punctuation in title|three word title,http://www.imdb.com/title/tt2035599/?ref_=fn_tt_tt_1,10,English,Canada,Not Rated,1200000,2011,,7.4,,5000;',
       'Color,Robert Kenner,120,94,11,2,Eric Schlosser,37,4417124,Documentary,Michael Pollan,"Food, Inc.\xa0",42389,42,Barbara Kowalcyk,0,farming|flesh eating|food|food industry|gluttony,http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1,183,English,USA,PG,,2008,3,7.9,1.78,37000;',
       'Color,Cristian Mungiu,233,113,163,27,Vlad Ivanov,131,1185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days\xa0",44763,264,Alexandru Potocean,0,female rear nudity|friend|hotel|rainy night|towel,http://www.imdb.com/title/tt1032846/?ref_=fn_tt_tt_1,172,Romanian,Romania,Not Rated,590000,2007,60,7.9,1.85,14000;',
       'Color,Jamie Travis,115,88,15,567,Ari Graynor,938,1243961,Comedy,James Wolk,"For a Good Time, Call...\xa0",13421,3770,Nia Vardalos,0,friend|friendship|gay|phone sex|sex,http://www.imdb.com/title/tt1996264/?ref_=fn_tt_tt_1,34,English,USA,R,850000,2012,904,6.0,2.35,0;',
       'Color,Jesse Peretz,16,94,37,104,Eli Marienthal,318,40542,Drama|Romance,Robert John Burke,"First Love, Last Rites\xa0",294,751,Natasha Gregson Wagner,0,listening to music|misfit|panties|red panties|sex,http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1,16,English,USA,R,300000,1997,157,5.5,,26;',
       ' Black and White,Eugène Lourié,67,80,7,21,Cecil Kellaway,57,5000000,Adventure|Horror|Sci-Fi,Kenneth Tobey,"The Beast from 20,000 Fathoms\xa0",4812,205,Ross Elliott,0,arctic|beast|dinosaur|monster|rhedosaurus,http://www.imdb.com/title/tt0045546/?ref_=fn_tt_tt_1,88,English,USA,Approved,210000,1953,40,6.7,1.37,465;',
       'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,618,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22124,800,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;',

Некоторые элементы Series 'color' представляют собой определенное подмножество совокупной информации о фильме. Попробуем вернуть информацию в наш датасет, предварительно избавившись от NaN значений:

In [8]:
df['color'] = df['color'].fillna("unknown")

При взгляде на данные становится понятно, что любое число больше длины фразы Black and White будет представлять размер строки с потеряннными данными. Пусть оно будет равно 30.

In [9]:
lost_data = df['color'].unique().tolist()
var = []

for i in lost_data:
    if len(i) > 30:
        var.append(i)
        
print(var)

['Color,Andrew Adamson,284,150,80,82,Kiran Shah,1000,291709845,Adventure|Family|Fantasy,Jim Broadbent,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe\xa0",286506,1317,Shane Rangi,5,hide and seek|lion|magic|professor|snow,http://www.imdb.com/title/tt0363771/?ref_=fn_tt_tt_1,1463,English,USA,PG,180000000,2005,190,6.9,2.35,0;', 'Color,Pete Docter,250,92,0,773,John Ratzenberger,12000,289907418,Adventure|Animation|Comedy|Family|Fantasy,Steve Buscemi,"Monsters, Inc.\xa0",585659,15013,James Coburn,0,friend|little girl|monster|rival|scream,http://www.imdb.com/title/tt0198781/?ref_=fn_tt_tt_1,593,English,USA,G,115000000,2001,1000,8.1,1.85,0;', 'Color,Alex Proyas,225,115,295,466,Bruce Greenwood,10000,144795350,Action|Mystery|Sci-Fi|Thriller,Will Smith,"I, Robot\xa0",387632,12068,Chi McBride,1,humanoid robot|man versus machine|prosthetic limb|robot as pathos|robot vs. robot,http://www.imdb.com/title/tt0343818/?ref_=fn_tt_tt_1,789,English,USA,PG-13,120000000,2004,981,7.1,2.35,0;', ',Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.\xa0            ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;', 'Color,Stuart Beattie,308,92,72,568,Kevin Grevioux,623,19059018,Action|Fantasy|Sci-Fi|Thriller,Caitlin Stasey,"I, Frankenstein\xa0",65709,3165,Miranda Otto,0,army|creature|demon|frankenstein|gargoyle,http://www.imdb.com/title/tt1418377/?ref_=fn_tt_tt_1,194,English,Australia,PG-13,65000000,2014,593,5.1,2.35,15000;', 'Color,,20,22,,271,Soleil Moon Frye,870,,Comedy|Family|Fantasy,Nate Richert,"Sabrina, the Teenage Witch\xa0            ",24420,2433,Caroline Rhea,1,female protagonist|hereditary gift of witchcraft|magic|supernatural|witch,http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1,94,English,USA,TV-G,3000000,,558,6.6,1.33,990;', 'Color,Anthony Russo,136,110,94,240,Billy Gardell,277,75604320,Comedy|Romance,Todd Stashwick,"You, Me and Dupree\xa0",68417,847,Amanda Detmer,1,best friend|foot fetish|houseguest|newlywed|wedding,http://www.imdb.com/title/tt0463034/?ref_=fn_tt_tt_1,195,English,USA,PG-13,54000000,2006,245,5.6,1.85,0;', 'Color,Bobby Farrelly,155,116,101,79,Tony Cox,889,90567722,Comedy,Robert Forster,"Me, Myself & Irene\xa0",185878,1711,Rob Moran,1,dissociative identity disorder|limousine|multiple personality|police|rhode island,http://www.imdb.com/title/tt0183505/?ref_=fn_tt_tt_1,481,English,USA,R,51000000,2000,624,6.5,1.85,0;', 'Color,Glenn Ficarra,310,118,43,7000,Emma Stone,33000,84244877,Comedy|Drama|Romance,Ryan Gosling,"Crazy, Stupid, Love.\xa0",375456,57426,Steve Carell,7,bar|divorce|friend|girl|male objectification,http://www.imdb.com/title/tt1570728/?ref_=fn_tt_tt_1,292,English,USA,PG-13,50000000,2011,15000,7.4,2.39,44000;', 'Color,Melville Shavelson,8,111,5,559,Tom Bosley,6000,,Comedy|Family,Lucille Ball,"Yours, Mine and Ours\xa0",5888,7493,Tim Matheson,0,nurse|parent|sibling|widow|widower,http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1,61,English,USA,Unrated,2500000,1968,584,7.2,1.85,0;', 'Color,John Hamburg,215,105,29,257,Jon Favreau,24000,71347010,Comedy|Romance,J.K. Simmons,"I Love You, Man\xa0",166194,28928,Jane Curtin,2,bromance|friend|gay brother|homosexual subtext|wedding,http://www.imdb.com/title/tt1155056/?ref_=fn_tt_tt_1,215,English,USA,R,40000000,2009,4000,7.1,1.85,0;', 'Color,Taylor Hackford,12,330,138,672,Jesse Borrego,848,4496583,Crime|Drama,Delroy Lindo,"Blood In, Blood Out\xa0",23181,3227,Raymond Cruz,2,1970s|1980s|barrio|gang war|mexican,http://www.imdb.com/title/tt0106469/?ref_=fn_tt_tt_1,129,English,USA,R,35000000,1993,674,8.0,1.66,6000;', 'Color,John Whitesell,88,113,14,534,Tony Curran,918,37911876,Action|Comedy|Crime,Brandon T. Jackson,"Big Mommas: Like Father, Like Son\xa0",19671,3500,Portia Doubleday,2,fbi agent|murder|performing arts school|scene during end credits|undercover,http://www.imdb.com/title/tt1464174/?ref_=fn_tt_tt_1,47,English,USA,PG-13,32000000,2011,845,4.4,2.35,0;', 'Color,Miguel Arteta,119,81,44,3000,Steve Carell,35000,66950483,Comedy|Family,Bella Thorne,"Alexander and the Terrible, Horrible, No Good, Very Bad Day\xa0",29738,47677,Jennifer Garner,6,bad day|based on book|birthday|job interview|long title,http://www.imdb.com/title/tt1698641/?ref_=fn_tt_tt_1,85,English,USA,PG,28000000,2014,7000,6.2,2.39,12000;', 'Color,Jay Roach,74,119,116,385,Mary McCormack,738,8888143,Comedy|Drama|Sport,Scott Grimes,"Mystery, Alaska\xa0",22250,2171,Ron Eldard,0,alaska|male nudity|nudity|sex|small town,http://www.imdb.com/title/tt0134618/?ref_=fn_tt_tt_1,123,English,Canada,R,28000000,1999,428,6.7,2.35,913;', 'Color,Malcolm D. Lee,76,114,92,436,Mike Epps,940,42168445,Comedy|Drama|Romance,Mo\'Nique,"Welcome Home, Roscoe Jenkins\xa0",10791,3565,Cedric the Entertainer,3,african american protagonist|comma in title|four word title|name in title|talk show host,http://www.imdb.com/title/tt0494652/?ref_=fn_tt_tt_1,39,English,USA,PG-13,35000000,2008,706,5.3,1.85,464;', 'Color,Joel Coen,197,107,0,577,Tim Blake Nelson,1000,45506619,Adventure|Comedy|Crime|Music,Holly Hunter,"O Brother, Where Art Thou?\xa0",225102,3066,Daniel von Bargen,3,baby|bank|blind prophet|convict|sirens,http://www.imdb.com/title/tt0190590/?ref_=fn_tt_tt_1,862,English,UK,PG-13,26000000,2000,596,7.8,2.35,16000;', 'Color,Charles Herman-Wurmfeld,133,95,0,643,Bruce McGill,934,89808372,Comedy,Mary Lynn Rajskub,"Legally Blonde 2: Red, White & Blonde\xa0",46417,3500,Bob Newhart,2,animal rights|congresswoman|doorman|transvestism|washington d.c.,http://www.imdb.com/title/tt0333780/?ref_=fn_tt_tt_1,297,English,USA,PG-13,45000000,2003,655,4.6,1.85,660;', 'Color,James Bridges,28,107,21,418,Phoebe Cates,967,16118077,Drama,Dianne Wiest,"Bright Lights, Big City\xa0",5817,3067,Swoosie Kurtz,0,estranged wife|fashion show|magazine|new york city|writer,http://www.imdb.com/title/tt0094799/?ref_=fn_tt_tt_1,37,English,USA,R,25000000,1988,767,5.6,1.85,377;', 'Color,James Mangold,133,127,446,898,Clea DuVall,11000,28871190,Biography|Drama,Angelina Jolie Pitt,"Girl, Interrupted\xa0",125421,13433,Vanessa Redgrave,0,1960s|father daughter incest|mental hospital|suicide|suicide attempt,http://www.imdb.com/title/tt0172493/?ref_=fn_tt_tt_1,385,English,USA,R,24000000,1999,1000,7.3,1.85,0;', 'Color,Ethan Coen,423,106,1000,1000,Channing Tatum,19000,29997095,Comedy|Mystery,Scarlett Johansson,"Hail, Caesar!\xa0",60926,38494,Alden Ehrenreich,5,50s|film within a film|hollywood|illegitimate pregnancy|twins,http://www.imdb.com/title/tt0475290/?ref_=fn_tt_tt_1,302,English,UK,PG-13,22000000,2016,17000,6.4,1.85,23000;', 'Color,Charlie Kaufman,245,124,0,631,Jennifer Jason Leigh,22000,3081925,Comedy|Drama|Romance,Philip Seymour Hoffman,"Synecdoche, New York\xa0",55842,24732,Samantha Morton,0,actress|director|play|theatre director|warehouse,http://www.imdb.com/title/tt0383028/?ref_=fn_tt_tt_1,274,English,USA,R,21000000,2008,1000,7.5,2.35,13000;', 'Color,,,43,,211,Jenni \'Jwoww\' Farley,341,,Comedy|Drama|Reality-TV|Romance,Nicole \'Snooki\' Polizzi,"Gone, Baby, Gone\xa0            ",29,1462,Paul \'Pauly D\' DelVecchio,1,lifestyle,http://www.imdb.com/title/tt1697237/?ref_=fn_tt_tt_1,,English,,TV-14,,,230,6.6,1.33,0;', 'Color,Chris Columbus,107,102,0,529,Marie Avgeropoulos,946,14793904,Comedy|Romance,Alan Ruck,"I Love You, Beth Cooper\xa0",28209,4072,Shawn Roberts,1,cheerleader|party|popular girl|speech|valedictorian,http://www.imdb.com/title/tt1032815/?ref_=fn_tt_tt_1,80,English,Canada,PG-13,18000000,2009,800,5.3,1.85,0;', 'Color,Niki Caro,113,129,51,89,Valente Rodriguez,427,44469602,Biography|Drama|Sport,Morgan Saylor,"McFarland, USA\xa0",23480,952,Diana Maria Riva,0,coach|high school|place name in title|school|student,http://www.imdb.com/title/tt2097298/?ref_=fn_tt_tt_1,83,English,USA,PG,17000000,2015,234,7.4,2.35,21000;', 'Color,Ang Lee,287,120,0,5,Pei-Pei Cheng,103,128067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden Dragon\xa0",217740,129,Sihung Lung,3,bare midriff|china|magical realism|martial arts|sword,http://www.imdb.com/title/tt0190332/?ref_=fn_tt_tt_1,1641,Mandarin,Taiwan,PG-13,15000000,2000,21,7.9,2.35,0;', 'Color,Martin Scorsese,59,136,17000,213,Liza Minnelli,22000,,Drama|Music|Musical|Romance,Robert De Niro,"New York, New York\xa0",13548,23378,Mary Kay Place,0,love|musician|saxophonist|singer|songwriter,http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1,75,English,USA,PG,14000000,1977,740,6.7,1.66,932;', 'Color,Barry Levinson,62,121,272,227,J.T. Walsh,49000,123922370,Biography|Comedy|Drama|War,Robin Williams,"Good Morning, Vietnam\xa0",98348,50141,Bruno Kirby,1,disc jockey|friendship|radio|vietnam|vietnamese,http://www.imdb.com/title/tt0093105/?ref_=fn_tt_tt_1,131,English,USA,R,13000000,1987,263,7.3,1.85,0;', 'Color,Danny Leiner,106,83,8,612,Mary Lynn Rajskub,3000,46729374,Comedy|Mystery,Jennifer Garner,"Dude, Where\'s My Car?\xa0",116625,6454,Marla Sokoloff,2,bare chested male|gay kiss|homoeroticism|lesbian kiss|transsexual,http://www.imdb.com/title/tt0242423/?ref_=fn_tt_tt_1,469,English,USA,PG-13,13000000,2000,934,5.5,1.37,0;', 'Color,Olivier Assayas,165,120,107,280,Miranda Richardson,12000,4857376,Comedy|Drama|Romance,Steve Buscemi,"Paris, je t\'aime\xa0",63084,13208,Catalina Sandino Moreno,0,baby|divorce|oscar wilde|pigalle|tourist,http://www.imdb.com/title/tt0401711/?ref_=fn_tt_tt_1,123,French,France,R,13000000,2006,530,7.3,1.85,0;', 'Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop\xa0",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;', 'Color,Neal Brennan,83,89,23,503,Noureen DeWulf,839,15102127,Comedy,Rob Riggle,"The Goods: Live Hard, Sell Hard\xa0",17790,3973,Charles Napier,5,fourth of july|looking at one\'s self in a mirror|mirror|sex toy|young version of character,http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1,59,English,USA,R,,2009,700,5.8,1.85,0;', 'Color,David Schwimmer,168,100,0,231,Iddo Goldberg,427,5998971,Comedy|Romance|Sport,Dylan Moran,"Run, Fatboy, Run\xa0",58509,1022,India de Beaufort,0,blister|gym|marathon|training|wedding,http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1,143,English,UK,PG-13,,2007,269,6.6,2.35,0;', 'Color,Jay Duplass,182,83,157,581,Evan Ross,2000,4244155,Comedy|Drama,Judy Greer,"Jeff, Who Lives at Home\xa0",56005,3374,Rae Dawn Chong,5,basement|errand|secret admirer|slacker|wrong number,http://www.imdb.com/title/tt1588334/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2011,616,6.5,1.85,0;', 'Color,Joshua Seftel,79,107,0,91,Sergej Trifunovic,603,578527,Action|Comedy|Thriller,Bashar Rahal,"War, Inc.\xa0",20008,988,Ned Bellamy,3,assassin|corporation|pop star|reporter|satire,http://www.imdb.com/title/tt0884224/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2008,175,5.7,1.78,883;', 'Color,Rafa Lara,12,125,21,36,Andrés Montiel,78,169379,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla\xa0",683,221,William Miller,1,,http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1,3,Spanish,Mexico,R,10000000,2013,61,6.2,,874;', 'Color,Jee-woon Kim,152,135,419,7,Woo-sung Jung,398,128486,Action|Adventure|Comedy|Western,Kang-ho Song,"The Good, the Bad, the Weird\xa0",26156,569,Dal-su Oh,0,bounty hunter|manchuria|map|train|treasure,http://www.imdb.com/title/tt0901487/?ref_=fn_tt_tt_1,74,Korean,South Korea,R,10000000,2008,149,7.3,2.35,0;', 'Color,Stanley Kramer,61,197,176,760,Sid Caesar,924,46300000,Action|Adventure|Comedy|Crime,Jonathan Winters,"It\'s a Mad, Mad, Mad, Mad World\xa0",29323,4109,Spencer Tracy,0,california|desert|dying words|money|race,http://www.imdb.com/title/tt0057193/?ref_=fn_tt_tt_1,344,English,USA,Approved,9400000,1963,898,7.6,2.76,0;', 'Color,Martyn Pick,19,76,4,151,Steven Waddington,722,,Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller,Sean Pertwee,"Ultramarines: A Warhammer 40,000 Movie\xa0",4990,1254,Donald Sumpter,0,grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k,http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1,64,English,UK,R,,2010,212,5.7,1.85,0;', 'Color,Adam Brooks,160,112,20,61,Sakina Jaffrey,16000,31973840,Comedy|Drama|Romance,Ryan Reynolds,"Definitely, Maybe\xa0",127760,16289,Paulina Gerzon,5,college|daughter|girl|sex|wisconsin,http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1,168,English,Germany,PG-13,,2008,109,7.2,2.35,0;', ' Black and White,George Clooney,351,93,0,566,Tate Donovan,21000,31501218,Biography|Drama|History,Robert Downey Jr.,"Good Night, and Good Luck.\xa0",84070,22745,Alex Borstein,0,cbs|expose|fear|paranoia|reporter,http://www.imdb.com/title/tt0433383/?ref_=fn_tt_tt_1,526,English,USA,PG,7500000,2005,650,7.5,1.85,0;', 'Color,Gabriele Muccino,36,125,125,11,Silvio Muccino,60,223878,Comedy|Drama|Romance,Laura Morante,"Remember Me, My Love\xa0",3548,132,Giulia Michelini,1,box office hit|dancer|sex scene|television|underage sex,http://www.imdb.com/title/tt0323807/?ref_=fn_tt_tt_1,21,Italian,Italy,R,5000000,2003,29,6.5,2.35,282;', 'Color,S.R. Bindler,26,85,0,499,Scott Glenn,11000,36497,Comedy,Matthew McConaughey,"Surfer, Dude\xa0",7367,14599,Sarah Wright,0,barefoot|endorsement|surfboard|virtual reality|waves,http://www.imdb.com/title/tt0976247/?ref_=fn_tt_tt_1,37,English,USA,R,6000000,2008,826,4.7,1.85,850;', 'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,617,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22123,799,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;', 'Color,John Erick Dowdle,196,93,66,161,Edwin Hodge,1000,21197315,Horror|Mystery|Thriller,Ben Feldman,"As Above, So Below\xa0",49948,1410,Perdita Weeks,0,archeologist|catacomb|found footage|paris france|philosopher\'s stone,http://www.imdb.com/title/tt2870612/?ref_=fn_tt_tt_1,211,English,USA,R,5000000,2014,200,6.1,1.85,14000;', 'Color,Feroz Abbas Khan,16,136,0,14,Bhoomika Chawla,75,240425,Biography|Drama|History,Akshaye Khanna,"Gandhi, My Father\xa0",1311,172,Darshan Jariwala,0,africa|hindu|india|muslim|south africa,http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1,25,Hindi,India,,,2007,45,7.4,2.35,133;', 'Color,Nicholas Fackler,27,90,6,940,Ellen Burstyn,3000,124720,Drama|Romance,Adam Scott,"Lovely, Still\xa0",1560,4987,Martin Landau,0,christmas|fable|old man,http://www.imdb.com/title/tt1150947/?ref_=fn_tt_tt_1,15,English,USA,PG,5000000,2008,1000,7.3,1.85,777;', 'Color,Jorge Ramírez Suárez,26,120,45,69,Adriana Barraza,623,100412,Drama,Hector Kotsifakis,"Buen Día, Ramón\xa0",2112,824,Arcelia Ramírez,0,,http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1,7,German,Mexico,PG-13,4000000,2013,85,7.7,2.35,0;', 'Color,Jay Oliva,44,148,41,739,Mark Valley,2000,,Action|Animation|Crime|Sci-Fi|Thriller,Michael Emerson,"Batman: The Dark Knight Returns, Part 2\xa0",30434,5526,Grey Griffin,0,batman|joker|mutant|tattoo on breast|the joker,http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1,55,English,USA,PG-13,3500000,2013,774,8.4,,5000;', 'Color,Joe Cross,13,97,65,0,Joel Fuhrman,65,,Documentary,Joe Cross,"Fat, Sick & Nearly Dead\xa0",6429,67,Amy Badberg,2,fat|food|health|juice|obese,http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1,25,English,Australia,,2500000,2010,2,7.6,,10000;', 'Color,Tim McCanlies,15,97,23,326,Michael O\'Neill,982,565592,Comedy|Drama|Family,Ethan Embry,"Dancer, Texas Pop. 81\xa0",2189,2580,Alexandra Holden,0,best friend|friendship|population|state in title|texas,http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1,63,English,USA,PG,,1998,599,6.8,1.85,500;', 'Color,Gary Rogers,7,120,0,40,Kirby Heyborne,178,1098224,Adventure,Noah Danby,"The Book of Mormon Movie, Volume 1: The Journey\xa0",397,359,Bruce Newbold,1,jerusalem|journey|promised land|ship|wilderness,http://www.imdb.com/title/tt0349159/?ref_=fn_tt_tt_1,30,English,USA,PG-13,2000000,2003,69,3.3,1.85,32;', 'Color,Simon Napier-Bell,,81,0,8,Tim Rice,674,,Documentary,Alice Cooper,"To Be Frank, Sinatra at 100\xa0",7,712,Louis Walsh,0,,http://www.imdb.com/title/tt4704314/?ref_=fn_tt_tt_1,,English,UK,,2000000,2015,27,7.4,,0;', 'Color,Mark Illsley,77,98,3,327,Illeana Douglas,349,1943649,Comedy|Crime|Romance,Ally Walker,"Happy, Texas\xa0",8697,2095,Jeremy Northam,3,banker|beauty pageant|escaped convict|gay|pageant,http://www.imdb.com/title/tt0162360/?ref_=fn_tt_tt_1,122,English,USA,PG-13,1700000,1999,347,6.3,1.85,374;', 'Color,Guy Ritchie,116,120,0,452,Jason Flemyng,26000,3650677,Comedy|Crime,Jason Statham,"Lock, Stock and Two Smoking Barrels\xa0",414976,28294,Dexter Fletcher,1,antique|cockney accent|hatchet|money|shotgun,http://www.imdb.com/title/tt0120735/?ref_=fn_tt_tt_1,523,English,UK,R,960000,1998,1000,8.2,1.85,21000;', 'Color,Steven Soderbergh,58,100,0,65,Laura San Giacomo,828,24741700,Drama,Peter Gallagher,"Sex, Lies, and Videotape\xa0",37785,1431,Steven Brill,2,affair|interview|marriage|sex|videotape,http://www.imdb.com/title/tt0098724/?ref_=fn_tt_tt_1,95,English,USA,R,1200000,1989,531,7.2,1.85,2000;', 'Color,Sergio Leone,181,142,0,24,Luigi Pistilli,16000,6100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly\xa0",503509,16089,Enzo Petito,3,civil war|hitman|outlaw|shootout|spaghetti western,http://www.imdb.com/title/tt0060196/?ref_=fn_tt_tt_1,780,Italian,Italy,Approved,1200000,1966,34,8.9,2.35,20000;', 'Color,Léa Pool,23,97,4,,,,24784,Documentary,,"Pink Ribbons, Inc.\xa0",591,0,,0,breast cancer|comma in title|period in title|punctuation in title|three word title,http://www.imdb.com/title/tt2035599/?ref_=fn_tt_tt_1,10,English,Canada,Not Rated,1200000,2011,,7.4,,5000;', 'Color,Robert Kenner,120,94,11,2,Eric Schlosser,37,4417124,Documentary,Michael Pollan,"Food, Inc.\xa0",42389,42,Barbara Kowalcyk,0,farming|flesh eating|food|food industry|gluttony,http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1,183,English,USA,PG,,2008,3,7.9,1.78,37000;', 'Color,Cristian Mungiu,233,113,163,27,Vlad Ivanov,131,1185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days\xa0",44763,264,Alexandru Potocean,0,female rear nudity|friend|hotel|rainy night|towel,http://www.imdb.com/title/tt1032846/?ref_=fn_tt_tt_1,172,Romanian,Romania,Not Rated,590000,2007,60,7.9,1.85,14000;', 'Color,Jamie Travis,115,88,15,567,Ari Graynor,938,1243961,Comedy,James Wolk,"For a Good Time, Call...\xa0",13421,3770,Nia Vardalos,0,friend|friendship|gay|phone sex|sex,http://www.imdb.com/title/tt1996264/?ref_=fn_tt_tt_1,34,English,USA,R,850000,2012,904,6.0,2.35,0;', 'Color,Jesse Peretz,16,94,37,104,Eli Marienthal,318,40542,Drama|Romance,Robert John Burke,"First Love, Last Rites\xa0",294,751,Natasha Gregson Wagner,0,listening to music|misfit|panties|red panties|sex,http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1,16,English,USA,R,300000,1997,157,5.5,,26;', ' Black and White,Eugène Lourié,67,80,7,21,Cecil Kellaway,57,5000000,Adventure|Horror|Sci-Fi,Kenneth Tobey,"The Beast from 20,000 Fathoms\xa0",4812,205,Ross Elliott,0,arctic|beast|dinosaur|monster|rhedosaurus,http://www.imdb.com/title/tt0045546/?ref_=fn_tt_tt_1,88,English,USA,Approved,210000,1953,40,6.7,1.37,465;', 'Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,618,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea\xa0",22124,800,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;', 'Color,Stephen Langford,2,82,7,50,Gabriela Castillo,143,,Family,Kevin P. Farley,"Dude, Where\'s My Dog?!\xa0",73,417,Brandon Middleton,0,,http://www.imdb.com/title/tt3109200/?ref_=fn_tt_tt_1,4,English,USA,PG,20000,2014,134,3.2,1.85,178;', 'Color,Sut Jhally,16,80,3,0,Seth Ackerman,103,,Documentary,Noam Chomsky,"Peace, Propaganda & the Promised Land\xa0",496,103,Arik Ascherman,3,arab israeli conflict|israel|media|middle east|palestine,http://www.imdb.com/title/tt0428959/?ref_=fn_tt_tt_1,13,English,USA,,70000,2004,0,8.3,,110;', 'Color,Julie Davis,5,86,12,117,Meredith Scott Lynn,238,33598,Comedy|Roman

Удалим добавленные значения

In [10]:
df = df[df['color'].apply(lambda x: len(x) <= 30)]

Создадим содержимое нового csv файла, который будет основой для датасета из ошибочно записанных данных.

In [11]:
csv_content = ','.join(df.columns.to_list())
csv_content += ';\n'

count = 0

for i in var:
    count += 1
    csv_content += str(i)
    if count != len(var):
        csv_content += '\n'

print(csv_content)

color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
Color,Andrew Adamson,284,150,80,82,Kiran Shah,1000,291709845,Adventure|Family|Fantasy,Jim Broadbent,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe ",286506,1317,Shane Rangi,5,hide and seek|lion|magic|professor|snow,http://www.imdb.com/title/tt0363771/?ref_=fn_tt_tt_1,1463,English,USA,PG,180000000,2005,190,6.9,2.35,0;
Color,Pete Docter,250,92,0,773,John Ratzenberger,12000,289907418,Adventure|Animation|Comedy|Family|Fantasy,Steve Buscemi,"Monsters, Inc. ",585659,15013,James Coburn,0,friend|little girl|monster|rival|scream,http://www.imdb.com/title/tt0198781/?ref_=fn_tt_tt_1,593,English,USA,G,115000000,2001,1000,8.1,1.85,0;
Color,Alex Proyas,225,115,295,466,Bruce Greenwood,10000,144795350,Action|Mystery|Sci-Fi|Thriller,Will Smith,"I, Robot ",387632,12068,Chi McBride,1,humanoid robot|man versus machine|prosthetic limb|robot as pathos|robot vs. robot,http://www.imdb.com/title/tt0343818/?ref_=fn_tt_tt_1,789,English,USA,PG-13,120000000,2004,981,7.1,2.35,0;
,Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.             ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;
Color,Stuart Beattie,308,92,72,568,Kevin Grevioux,623,19059018,Action|Fantasy|Sci-Fi|Thriller,Caitlin Stasey,"I, Frankenstein ",65709,3165,Miranda Otto,0,army|creature|demon|frankenstein|gargoyle,http://www.imdb.com/title/tt1418377/?ref_=fn_tt_tt_1,194,English,Australia,PG-13,65000000,2014,593,5.1,2.35,15000;
Color,,20,22,,271,Soleil Moon Frye,870,,Comedy|Family|Fantasy,Nate Richert,"Sabrina, the Teenage Witch             ",24420,2433,Caroline Rhea,1,female protagonist|hereditary gift of witchcraft|magic|supernatural|witch,http://www.imdb.com/title/tt0115341/?ref_=fn_tt_tt_1,94,English,USA,TV-G,3000000,,558,6.6,1.33,990;
Color,Anthony Russo,136,110,94,240,Billy Gardell,277,75604320,Comedy|Romance,Todd Stashwick,"You, Me and Dupree ",68417,847,Amanda Detmer,1,best friend|foot fetish|houseguest|newlywed|wedding,http://www.imdb.com/title/tt0463034/?ref_=fn_tt_tt_1,195,English,USA,PG-13,54000000,2006,245,5.6,1.85,0;
Color,Bobby Farrelly,155,116,101,79,Tony Cox,889,90567722,Comedy,Robert Forster,"Me, Myself & Irene ",185878,1711,Rob Moran,1,dissociative identity disorder|limousine|multiple personality|police|rhode island,http://www.imdb.com/title/tt0183505/?ref_=fn_tt_tt_1,481,English,USA,R,51000000,2000,624,6.5,1.85,0;
Color,Glenn Ficarra,310,118,43,7000,Emma Stone,33000,84244877,Comedy|Drama|Romance,Ryan Gosling,"Crazy, Stupid, Love. ",375456,57426,Steve Carell,7,bar|divorce|friend|girl|male objectification,http://www.imdb.com/title/tt1570728/?ref_=fn_tt_tt_1,292,English,USA,PG-13,50000000,2011,15000,7.4,2.39,44000;
Color,Melville Shavelson,8,111,5,559,Tom Bosley,6000,,Comedy|Family,Lucille Ball,"Yours, Mine and Ours ",5888,7493,Tim Matheson,0,nurse|parent|sibling|widow|widower,http://www.imdb.com/title/tt0063829/?ref_=fn_tt_tt_1,61,English,USA,Unrated,2500000,1968,584,7.2,1.85,0;
Color,John Hamburg,215,105,29,257,Jon Favreau,24000,71347010,Comedy|Romance,J.K. Simmons,"I Love You, Man ",166194,28928,Jane Curtin,2,bromance|friend|gay brother|homosexual subtext|wedding,http://www.imdb.com/title/tt1155056/?ref_=fn_tt_tt_1,215,English,USA,R,40000000,2009,4000,7.1,1.85,0;
Color,Taylor Hackford,12,330,138,672,Jesse Borrego,848,4496583,Crime|Drama,Delroy Lindo,"Blood In, Blood Out ",23181,3227,Raymond Cruz,2,1970s|1980s|barrio|gang war|mexican,http://www.imdb.com/title/tt0106469/?ref_=fn_tt_tt_1,129,English,USA,R,35000000,1993,674,8.0,1.66,6000;
Color,John Whitesell,88,113,14,534,Tony Curran,918,37911876,Action|Comedy|Crime,Brandon T. Jackson,"Big Mommas: Like Father, Like Son ",19671,3500,Portia Doubleday,2,fbi agent|murder|performing arts school|scene during end credits|undercover,http://www.imdb.com/title/tt1464174/?ref_=fn_tt_tt_1,47,English,USA,PG-13,32000000,2011,845,4.4,2.35,0;
Color,Miguel Arteta,119,81,44,3000,Steve Carell,35000,66950483,Comedy|Family,Bella Thorne,"Alexander and the Terrible, Horrible, No Good, Very Bad Day ",29738,47677,Jennifer Garner,6,bad day|based on book|birthday|job interview|long title,http://www.imdb.com/title/tt1698641/?ref_=fn_tt_tt_1,85,English,USA,PG,28000000,2014,7000,6.2,2.39,12000;
Color,Jay Roach,74,119,116,385,Mary McCormack,738,8888143,Comedy|Drama|Sport,Scott Grimes,"Mystery, Alaska ",22250,2171,Ron Eldard,0,alaska|male nudity|nudity|sex|small town,http://www.imdb.com/title/tt0134618/?ref_=fn_tt_tt_1,123,English,Canada,R,28000000,1999,428,6.7,2.35,913;
Color,Malcolm D. Lee,76,114,92,436,Mike Epps,940,42168445,Comedy|Drama|Romance,Mo'Nique,"Welcome Home, Roscoe Jenkins ",10791,3565,Cedric the Entertainer,3,african american protagonist|comma in title|four word title|name in title|talk show host,http://www.imdb.com/title/tt0494652/?ref_=fn_tt_tt_1,39,English,USA,PG-13,35000000,2008,706,5.3,1.85,464;
Color,Joel Coen,197,107,0,577,Tim Blake Nelson,1000,45506619,Adventure|Comedy|Crime|Music,Holly Hunter,"O Brother, Where Art Thou? ",225102,3066,Daniel von Bargen,3,baby|bank|blind prophet|convict|sirens,http://www.imdb.com/title/tt0190590/?ref_=fn_tt_tt_1,862,English,UK,PG-13,26000000,2000,596,7.8,2.35,16000;
Color,Charles Herman-Wurmfeld,133,95,0,643,Bruce McGill,934,89808372,Comedy,Mary Lynn Rajskub,"Legally Blonde 2: Red, White & Blonde ",46417,3500,Bob Newhart,2,animal rights|congresswoman|doorman|transvestism|washington d.c.,http://www.imdb.com/title/tt0333780/?ref_=fn_tt_tt_1,297,English,USA,PG-13,45000000,2003,655,4.6,1.85,660;
Color,James Bridges,28,107,21,418,Phoebe Cates,967,16118077,Drama,Dianne Wiest,"Bright Lights, Big City ",5817,3067,Swoosie Kurtz,0,estranged wife|fashion show|magazine|new york city|writer,http://www.imdb.com/title/tt0094799/?ref_=fn_tt_tt_1,37,English,USA,R,25000000,1988,767,5.6,1.85,377;
Color,James Mangold,133,127,446,898,Clea DuVall,11000,28871190,Biography|Drama,Angelina Jolie Pitt,"Girl, Interrupted ",125421,13433,Vanessa Redgrave,0,1960s|father daughter incest|mental hospital|suicide|suicide attempt,http://www.imdb.com/title/tt0172493/?ref_=fn_tt_tt_1,385,English,USA,R,24000000,1999,1000,7.3,1.85,0;
Color,Ethan Coen,423,106,1000,1000,Channing Tatum,19000,29997095,Comedy|Mystery,Scarlett Johansson,"Hail, Caesar! ",60926,38494,Alden Ehrenreich,5,50s|film within a film|hollywood|illegitimate pregnancy|twins,http://www.imdb.com/title/tt0475290/?ref_=fn_tt_tt_1,302,English,UK,PG-13,22000000,2016,17000,6.4,1.85,23000;
Color,Charlie Kaufman,245,124,0,631,Jennifer Jason Leigh,22000,3081925,Comedy|Drama|Romance,Philip Seymour Hoffman,"Synecdoche, New York ",55842,24732,Samantha Morton,0,actress|director|play|theatre director|warehouse,http://www.imdb.com/title/tt0383028/?ref_=fn_tt_tt_1,274,English,USA,R,21000000,2008,1000,7.5,2.35,13000;
Color,,,43,,211,Jenni 'Jwoww' Farley,341,,Comedy|Drama|Reality-TV|Romance,Nicole 'Snooki' Polizzi,"Gone, Baby, Gone             ",29,1462,Paul 'Pauly D' DelVecchio,1,lifestyle,http://www.imdb.com/title/tt1697237/?ref_=fn_tt_tt_1,,English,,TV-14,,,230,6.6,1.33,0;
Color,Chris Columbus,107,102,0,529,Marie Avgeropoulos,946,14793904,Comedy|Romance,Alan Ruck,"I Love You, Beth Cooper ",28209,4072,Shawn Roberts,1,cheerleader|party|popular girl|speech|valedictorian,http://www.imdb.com/title/tt1032815/?ref_=fn_tt_tt_1,80,English,Canada,PG-13,18000000,2009,800,5.3,1.85,0;
Color,Niki Caro,113,129,51,89,Valente Rodriguez,427,44469602,Biography|Drama|Sport,Morgan Saylor,"McFarland, USA ",23480,952,Diana Maria Riva,0,coach|high school|place name in title|school|student,http://www.imdb.com/title/tt2097298/?ref_=fn_tt_tt_1,83,English,USA,PG,17000000,2015,234,7.4,2.35,21000;
Color,Ang Lee,287,120,0,5,Pei-Pei Cheng,103,128067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden Dragon ",217740,129,Sihung Lung,3,bare midriff|china|magical realism|martial arts|sword,http://www.imdb.com/title/tt0190332/?ref_=fn_tt_tt_1,1641,Mandarin,Taiwan,PG-13,15000000,2000,21,7.9,2.35,0;
Color,Martin Scorsese,59,136,17000,213,Liza Minnelli,22000,,Drama|Music|Musical|Romance,Robert De Niro,"New York, New York ",13548,23378,Mary Kay Place,0,love|musician|saxophonist|singer|songwriter,http://www.imdb.com/title/tt0076451/?ref_=fn_tt_tt_1,75,English,USA,PG,14000000,1977,740,6.7,1.66,932;
Color,Barry Levinson,62,121,272,227,J.T. Walsh,49000,123922370,Biography|Comedy|Drama|War,Robin Williams,"Good Morning, Vietnam ",98348,50141,Bruno Kirby,1,disc jockey|friendship|radio|vietnam|vietnamese,http://www.imdb.com/title/tt0093105/?ref_=fn_tt_tt_1,131,English,USA,R,13000000,1987,263,7.3,1.85,0;
Color,Danny Leiner,106,83,8,612,Mary Lynn Rajskub,3000,46729374,Comedy|Mystery,Jennifer Garner,"Dude, Where's My Car? ",116625,6454,Marla Sokoloff,2,bare chested male|gay kiss|homoeroticism|lesbian kiss|transsexual,http://www.imdb.com/title/tt0242423/?ref_=fn_tt_tt_1,469,English,USA,PG-13,13000000,2000,934,5.5,1.37,0;
Color,Olivier Assayas,165,120,107,280,Miranda Richardson,12000,4857376,Comedy|Drama|Romance,Steve Buscemi,"Paris, je t'aime ",63084,13208,Catalina Sandino Moreno,0,baby|divorce|oscar wilde|pigalle|tourist,http://www.imdb.com/title/tt0401711/?ref_=fn_tt_tt_1,123,French,France,R,13000000,2006,530,7.3,1.85,0;
Color,Yimou Zhang,101,95,611,3,Ni Yan,9,190666,Comedy|Drama,Honglei Sun,"A Woman, a Gun and a Noodle Shop ",2410,18,Dahong Ni,1,betrayal|husband wife relationship|murder|noodles|salary,http://www.imdb.com/title/tt1428556/?ref_=fn_tt_tt_1,20,Mandarin,China,R,,2009,4,5.7,2.35,784;
Color,Neal Brennan,83,89,23,503,Noureen DeWulf,839,15102127,Comedy,Rob Riggle,"The Goods: Live Hard, Sell Hard ",17790,3973,Charles Napier,5,fourth of july|looking at one's self in a mirror|mirror|sex toy|young version of character,http://www.imdb.com/title/tt1092633/?ref_=fn_tt_tt_1,59,English,USA,R,,2009,700,5.8,1.85,0;
Color,David Schwimmer,168,100,0,231,Iddo Goldberg,427,5998971,Comedy|Romance|Sport,Dylan Moran,"Run, Fatboy, Run ",58509,1022,India de Beaufort,0,blister|gym|marathon|training|wedding,http://www.imdb.com/title/tt0425413/?ref_=fn_tt_tt_1,143,English,UK,PG-13,,2007,269,6.6,2.35,0;
Color,Jay Duplass,182,83,157,581,Evan Ross,2000,4244155,Comedy|Drama,Judy Greer,"Jeff, Who Lives at Home ",56005,3374,Rae Dawn Chong,5,basement|errand|secret admirer|slacker|wrong number,http://www.imdb.com/title/tt1588334/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2011,616,6.5,1.85,0;
Color,Joshua Seftel,79,107,0,91,Sergej Trifunovic,603,578527,Action|Comedy|Thriller,Bashar Rahal,"War, Inc. ",20008,988,Ned Bellamy,3,assassin|corporation|pop star|reporter|satire,http://www.imdb.com/title/tt0884224/?ref_=fn_tt_tt_1,112,English,USA,R,10000000,2008,175,5.7,1.78,883;
Color,Rafa Lara,12,125,21,36,Andrés Montiel,78,169379,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla ",683,221,William Miller,1,,http://www.imdb.com/title/tt2553908/?ref_=fn_tt_tt_1,3,Spanish,Mexico,R,10000000,2013,61,6.2,,874;
Color,Jee-woon Kim,152,135,419,7,Woo-sung Jung,398,128486,Action|Adventure|Comedy|Western,Kang-ho Song,"The Good, the Bad, the Weird ",26156,569,Dal-su Oh,0,bounty hunter|manchuria|map|train|treasure,http://www.imdb.com/title/tt0901487/?ref_=fn_tt_tt_1,74,Korean,South Korea,R,10000000,2008,149,7.3,2.35,0;
Color,Stanley Kramer,61,197,176,760,Sid Caesar,924,46300000,Action|Adventure|Comedy|Crime,Jonathan Winters,"It's a Mad, Mad, Mad, Mad World ",29323,4109,Spencer Tracy,0,california|desert|dying words|money|race,http://www.imdb.com/title/tt0057193/?ref_=fn_tt_tt_1,344,English,USA,Approved,9400000,1963,898,7.6,2.76,0;
Color,Martyn Pick,19,76,4,151,Steven Waddington,722,,Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller,Sean Pertwee,"Ultramarines: A Warhammer 40,000 Movie ",4990,1254,Donald Sumpter,0,grimdark|mutilated corpse|space marine|ultramarines|warhammer 40k,http://www.imdb.com/title/tt1679332/?ref_=fn_tt_tt_1,64,English,UK,R,,2010,212,5.7,1.85,0;
Color,Adam Brooks,160,112,20,61,Sakina Jaffrey,16000,31973840,Comedy|Drama|Romance,Ryan Reynolds,"Definitely, Maybe ",127760,16289,Paulina Gerzon,5,college|daughter|girl|sex|wisconsin,http://www.imdb.com/title/tt0832266/?ref_=fn_tt_tt_1,168,English,Germany,PG-13,,2008,109,7.2,2.35,0;
 Black and White,George Clooney,351,93,0,566,Tate Donovan,21000,31501218,Biography|Drama|History,Robert Downey Jr.,"Good Night, and Good Luck. ",84070,22745,Alex Borstein,0,cbs|expose|fear|paranoia|reporter,http://www.imdb.com/title/tt0433383/?ref_=fn_tt_tt_1,526,English,USA,PG,7500000,2005,650,7.5,1.85,0;
Color,Gabriele Muccino,36,125,125,11,Silvio Muccino,60,223878,Comedy|Drama|Romance,Laura Morante,"Remember Me, My Love ",3548,132,Giulia Michelini,1,box office hit|dancer|sex scene|television|underage sex,http://www.imdb.com/title/tt0323807/?ref_=fn_tt_tt_1,21,Italian,Italy,R,5000000,2003,29,6.5,2.35,282;
Color,S.R. Bindler,26,85,0,499,Scott Glenn,11000,36497,Comedy,Matthew McConaughey,"Surfer, Dude ",7367,14599,Sarah Wright,0,barefoot|endorsement|surfboard|virtual reality|waves,http://www.imdb.com/title/tt0976247/?ref_=fn_tt_tt_1,37,English,USA,R,6000000,2008,826,4.7,1.85,850;
Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,617,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea ",22123,799,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;
Color,John Erick Dowdle,196,93,66,161,Edwin Hodge,1000,21197315,Horror|Mystery|Thriller,Ben Feldman,"As Above, So Below ",49948,1410,Perdita Weeks,0,archeologist|catacomb|found footage|paris france|philosopher's stone,http://www.imdb.com/title/tt2870612/?ref_=fn_tt_tt_1,211,English,USA,R,5000000,2014,200,6.1,1.85,14000;
Color,Feroz Abbas Khan,16,136,0,14,Bhoomika Chawla,75,240425,Biography|Drama|History,Akshaye Khanna,"Gandhi, My Father ",1311,172,Darshan Jariwala,0,africa|hindu|india|muslim|south africa,http://www.imdb.com/title/tt0459293/?ref_=fn_tt_tt_1,25,Hindi,India,,,2007,45,7.4,2.35,133;
Color,Nicholas Fackler,27,90,6,940,Ellen Burstyn,3000,124720,Drama|Romance,Adam Scott,"Lovely, Still ",1560,4987,Martin Landau,0,christmas|fable|old man,http://www.imdb.com/title/tt1150947/?ref_=fn_tt_tt_1,15,English,USA,PG,5000000,2008,1000,7.3,1.85,777;
Color,Jorge Ramírez Suárez,26,120,45,69,Adriana Barraza,623,100412,Drama,Hector Kotsifakis,"Buen Día, Ramón ",2112,824,Arcelia Ramírez,0,,http://www.imdb.com/title/tt2876428/?ref_=fn_tt_tt_1,7,German,Mexico,PG-13,4000000,2013,85,7.7,2.35,0;
Color,Jay Oliva,44,148,41,739,Mark Valley,2000,,Action|Animation|Crime|Sci-Fi|Thriller,Michael Emerson,"Batman: The Dark Knight Returns, Part 2 ",30434,5526,Grey Griffin,0,batman|joker|mutant|tattoo on breast|the joker,http://www.imdb.com/title/tt2166834/?ref_=fn_tt_tt_1,55,English,USA,PG-13,3500000,2013,774,8.4,,5000;
Color,Joe Cross,13,97,65,0,Joel Fuhrman,65,,Documentary,Joe Cross,"Fat, Sick & Nearly Dead ",6429,67,Amy Badberg,2,fat|food|health|juice|obese,http://www.imdb.com/title/tt1227378/?ref_=fn_tt_tt_1,25,English,Australia,,2500000,2010,2,7.6,,10000;
Color,Tim McCanlies,15,97,23,326,Michael O'Neill,982,565592,Comedy|Drama|Family,Ethan Embry,"Dancer, Texas Pop. 81 ",2189,2580,Alexandra Holden,0,best friend|friendship|population|state in title|texas,http://www.imdb.com/title/tt0118925/?ref_=fn_tt_tt_1,63,English,USA,PG,,1998,599,6.8,1.85,500;
Color,Gary Rogers,7,120,0,40,Kirby Heyborne,178,1098224,Adventure,Noah Danby,"The Book of Mormon Movie, Volume 1: The Journey ",397,359,Bruce Newbold,1,jerusalem|journey|promised land|ship|wilderness,http://www.imdb.com/title/tt0349159/?ref_=fn_tt_tt_1,30,English,USA,PG-13,2000000,2003,69,3.3,1.85,32;
Color,Simon Napier-Bell,,81,0,8,Tim Rice,674,,Documentary,Alice Cooper,"To Be Frank, Sinatra at 100 ",7,712,Louis Walsh,0,,http://www.imdb.com/title/tt4704314/?ref_=fn_tt_tt_1,,English,UK,,2000000,2015,27,7.4,,0;
Color,Mark Illsley,77,98,3,327,Illeana Douglas,349,1943649,Comedy|Crime|Romance,Ally Walker,"Happy, Texas ",8697,2095,Jeremy Northam,3,banker|beauty pageant|escaped convict|gay|pageant,http://www.imdb.com/title/tt0162360/?ref_=fn_tt_tt_1,122,English,USA,PG-13,1700000,1999,347,6.3,1.85,374;
Color,Guy Ritchie,116,120,0,452,Jason Flemyng,26000,3650677,Comedy|Crime,Jason Statham,"Lock, Stock and Two Smoking Barrels ",414976,28294,Dexter Fletcher,1,antique|cockney accent|hatchet|money|shotgun,http://www.imdb.com/title/tt0120735/?ref_=fn_tt_tt_1,523,English,UK,R,960000,1998,1000,8.2,1.85,21000;
Color,Steven Soderbergh,58,100,0,65,Laura San Giacomo,828,24741700,Drama,Peter Gallagher,"Sex, Lies, and Videotape ",37785,1431,Steven Brill,2,affair|interview|marriage|sex|videotape,http://www.imdb.com/title/tt0098724/?ref_=fn_tt_tt_1,95,English,USA,R,1200000,1989,531,7.2,1.85,2000;
Color,Sergio Leone,181,142,0,24,Luigi Pistilli,16000,6100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly ",503509,16089,Enzo Petito,3,civil war|hitman|outlaw|shootout|spaghetti western,http://www.imdb.com/title/tt0060196/?ref_=fn_tt_tt_1,780,Italian,Italy,Approved,1200000,1966,34,8.9,2.35,20000;
Color,Léa Pool,23,97,4,,,,24784,Documentary,,"Pink Ribbons, Inc. ",591,0,,0,breast cancer|comma in title|period in title|punctuation in title|three word title,http://www.imdb.com/title/tt2035599/?ref_=fn_tt_tt_1,10,English,Canada,Not Rated,1200000,2011,,7.4,,5000;
Color,Robert Kenner,120,94,11,2,Eric Schlosser,37,4417124,Documentary,Michael Pollan,"Food, Inc. ",42389,42,Barbara Kowalcyk,0,farming|flesh eating|food|food industry|gluttony,http://www.imdb.com/title/tt1286537/?ref_=fn_tt_tt_1,183,English,USA,PG,,2008,3,7.9,1.78,37000;
Color,Cristian Mungiu,233,113,163,27,Vlad Ivanov,131,1185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days ",44763,264,Alexandru Potocean,0,female rear nudity|friend|hotel|rainy night|towel,http://www.imdb.com/title/tt1032846/?ref_=fn_tt_tt_1,172,Romanian,Romania,Not Rated,590000,2007,60,7.9,1.85,14000;
Color,Jamie Travis,115,88,15,567,Ari Graynor,938,1243961,Comedy,James Wolk,"For a Good Time, Call... ",13421,3770,Nia Vardalos,0,friend|friendship|gay|phone sex|sex,http://www.imdb.com/title/tt1996264/?ref_=fn_tt_tt_1,34,English,USA,R,850000,2012,904,6.0,2.35,0;
Color,Jesse Peretz,16,94,37,104,Eli Marienthal,318,40542,Drama|Romance,Robert John Burke,"First Love, Last Rites ",294,751,Natasha Gregson Wagner,0,listening to music|misfit|panties|red panties|sex,http://www.imdb.com/title/tt0128214/?ref_=fn_tt_tt_1,16,English,USA,R,300000,1997,157,5.5,,26;
 Black and White,Eugène Lourié,67,80,7,21,Cecil Kellaway,57,5000000,Adventure|Horror|Sci-Fi,Kenneth Tobey,"The Beast from 20,000 Fathoms ",4812,205,Ross Elliott,0,arctic|beast|dinosaur|monster|rhedosaurus,http://www.imdb.com/title/tt0045546/?ref_=fn_tt_tt_1,88,English,USA,Approved,210000,1953,40,6.7,1.37,465;
Color,Richard Fleischer,69,127,130,51,Robert J. Wilke,618,,Adventure|Drama|Family|Fantasy|Sci-Fi,James Mason,"20,000 Leagues Under the Sea ",22124,800,Paul Lukas,0,captain|expedition|sea|submarine|whale,http://www.imdb.com/title/tt0046672/?ref_=fn_tt_tt_1,108,English,USA,Approved,5000000,1954,53,7.2,1.37,0;
Color,Stephen Langford,2,82,7,50,Gabriela Castillo,143,,Family,Kevin P. Farley,"Dude, Where's My Dog?! ",73,417,Brandon Middleton,0,,http://www.imdb.com/title/tt3109200/?ref_=fn_tt_tt_1,4,English,USA,PG,20000,2014,134,3.2,1.85,178;
Color,Sut Jhally,16,80,3,0,Seth Ackerman,103,,Documentary,Noam Chomsky,"Peace, Propaganda & the Promised Land ",496,103,Arik Ascherman,3,arab israeli conflict|israel|media|middle east|palestine,http://www.imdb.com/title/tt0428959/?ref_=fn_tt_tt_1,13,English,USA,,70000,2004,0,8.3,,110;

Запишем содержимое в новый файл LostData.csv.

In [12]:
new_csv = open("..\data\LostData.csv", "w+", encoding="utf-8")
new_csv.write(csv_content)
new_csv.close()

Создадим новый датафрейм на основе файла.

In [13]:
new_df = pd.read_csv("..\data\LostData.csv")
new_df.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,Andrew Adamson,284.0,150,80.0,82.0,Kiran Shah,1000.0,291709845.0,Adventure|Family|Fantasy,...,1463.0,English,USA,PG,180000000.0,2005.0,190.0,6.9,2.35,0;
1,Color,Pete Docter,250.0,92,0.0,773.0,John Ratzenberger,12000.0,289907418.0,Adventure|Animation|Comedy|Family|Fantasy,...,593.0,English,USA,G,115000000.0,2001.0,1000.0,8.1,1.85,0;
2,Color,Alex Proyas,225.0,115,295.0,466.0,Bruce Greenwood,10000.0,144795350.0,Action|Mystery|Sci-Fi|Thriller,...,789.0,English,USA,PG-13,120000000.0,2004.0,981.0,7.1,2.35,0;
3,NaN,Christopher Barnard,NaN,22,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0;
4,Color,Stuart Beattie,308.0,92,72.0,568.0,Kevin Grevioux,623.0,19059018.0,Action|Fantasy|Sci-Fi|Thriller,...,194.0,English,Australia,PG-13,65000000.0,2014.0,593.0,5.1,2.35,15000;
5,Color,NaN,20.0,22,NaN,271.0,Soleil Moon Frye,870.0,NaN,Comedy|Family|Fantasy,...,94.0,English,USA,TV-G,3000000.0,NaN,558.0,6.6,1.33,990;
6,Color,Anthony Russo,136.0,110,94.0,240.0,Billy Gardell,277.0,75604320.0,Comedy|Romance,...,195.0,English,USA,PG-13,54000000.0,2006.0,245.0,5.6,1.85,0;
7,Color,Bobby Farrelly,155.0,116,101.0,79.0,Tony Cox,889.0,90567722.0,Comedy,...,481.0,English,USA,R,51000000.0,2000.0,624.0,6.5,1.85,0;
8,Color,Glenn Ficarra,310.0,118,43.0,7000.0,Emma Stone,33000.0,84244877.0,Comedy|Drama|Romance,...,292.0,English,USA,PG-13,50000000.0,2011.0,15000.0,7.4,2.39,44000;
9,Color,Melville Shavelson,8.0,111,5.0,559.0,Tom Bosley,6000.0,NaN,Comedy|Family,...,61.0,English,USA,Unrated,2500000.0,1968.0,584.0,7.2,1.85,0;

Сконкатенируем оба датасета.

In [14]:
df = pd.concat([df, new_df])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4998 entries, 0 to 67
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4997 non-null   object
 1   director_name              4895 non-null   object
 2   num_critic_for_reviews     4949 non-null   float64
 3   duration                   4983 non-null   float64
 4   director_facebook_likes    4895 non-null   float64
 5   actor_3_facebook_likes     4975 non-null   float64
 6   actor_2_name               4985 non-null   object
 7   actor_1_facebook_likes     4991 non-null   float64
 8   gross                      4124 non-null   float64
 9   genres                     4998 non-null   object
 10  actor_1_name               4991 non-null   object
 11  movie_title                4998 non-null   object
 12  num_voted_users            4998 non-null   float64
 13  cast_total_facebook_likes  4998 non-null   float64
 14  actor_3_name               4975 non-null   object
 15  facenumber_in_poster       4985 non-null   float64
 16  plot_keywords              4846 non-null   object
 17  movie_imdb_link            4998 non-null   object
 18  num_user_for_reviews       4977 non-null   float64
 19  language                   4984 non-null   object
 20  country                    4993 non-null   object
 21  content_rating             4697 non-null   object
 22  budget                     4511 non-null   float64
 23  title_year                 4891 non-null   float64
 24  actor_2_facebook_likes     4985 non-null   float64
 25  imdb_score                 4998 non-null   float64
 26  aspect_ratio               4671 non-null   float64
 27  movie_facebook_likes       4930 non-null   object
 28  movie_facebook_likes;      68 non-null     object
dtypes: float64(15), object(14)
memory usage: 1.1+ MB

Вычислим количество NaN значений в каждом столбце:

In [15]:
df.isna().sum()

color                           1
director_name                 103
num_critic_for_reviews         49
duration                       15
director_facebook_likes       103
actor_3_facebook_likes         23
actor_2_name                   13
actor_1_facebook_likes          7
gross                         874
genres                          0
actor_1_name                    7
movie_title                     0
num_voted_users                 0
cast_total_facebook_likes       0
actor_3_name                   23
facenumber_in_poster           13
plot_keywords                 152
movie_imdb_link                 0
num_user_for_reviews           21
language                       14
country                         5
content_rating                301
budget                        487
title_year                    107
actor_2_facebook_likes         13
imdb_score                      0
aspect_ratio                  327
movie_facebook_likes           68
movie_facebook_likes;        4930
dtype: int64

Разделим NaN значения на числовые и строковые. Затем напишем функцию replace_value(), которая будет заменять пустые значения в соответствие с заданными списком заголовков и значением, и воспользуемся ей.

In [16]:
columns_to_replace_str = ['color', 'director_name', 'actor_2_name', 'genres', 'actor_1_name', 'movie_title', 'actor_3_name', 
                      'plot_keywords', 'movie_imdb_link', 'language', 'country', 'content_rating']

def replace_value(df, columns, value):
    for row in columns:
        df[row] = df[row].fillna(value)
    return df
    
df = replace_value(df, columns_to_replace_str, 'unknown')

In [17]:
temp = df.columns.values.tolist()
columns_to_replace_num = []

for column in temp:
    if column not in columns_to_replace_str:
        columns_to_replace_num.append(column)

print(columns_to_replace_num)

['num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross', 'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster', 'num_user_for_reviews', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'movie_facebook_likes;']

In [18]:
value = 0
df = replace_value(df, columns_to_replace_num, value)

Теперь значения NaN отсутствуют в датафрейме.

In [19]:
df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
movie_facebook_likes;        0
dtype: int64

Поскольку явные дубликаты отсутствуют в датафрейме, перейдем к нахождению неявных. Для рассмотрения гипотез необходимо проверить на уникальность значения в Series content_rating.

In [20]:
sorted (df['content_rating'].unique())

['Approved',
 'G',
 'GP',
 'M',
 'NC-17',
 'Not Rated',
 'PG',
 'PG-13',
 'Passed',
 'R',
 'TV-14',
 'TV-G',
 'TV-MA',
 'TV-PG',
 'TV-Y',
 'TV-Y7',
 'Unrated',
 'X',
 'unknown']

Здесь рейтинги 'Not Rated', 'Unrated' являются синонимами определенного ранее 'unknown'. Помимо этого:
'G' = 'Passed';
'PG' = 'GP' = 'M';
'NC-17' = 'X'

In [21]:
def replace_same_ratings (wrong_ratings, correct_rating, df):
    for wrong_rating in wrong_ratings:
        df['content_rating'] = df['content_rating'].replace(wrong_rating, correct_rating)
    return df

In [22]:
df = replace_same_ratings(['Passed', 'Approved'], 'G', df)
df = replace_same_ratings(['GP', 'M'], 'PG', df)
df = replace_same_ratings(['X'], 'NC-17', df)
df = replace_same_ratings(['Not Rated', 'Unrated'], 'unknown', df)

In [23]:
sorted (df['content_rating'].unique())

['G',
 'NC-17',
 'PG',
 'PG-13',
 'R',
 'TV-14',
 'TV-G',
 'TV-MA',
 'TV-PG',
 'TV-Y',
 'TV-Y7',
 'unknown']

Приведем бюджеты и доходы разных годов к значению инфляциии на 2016 год. Для этого пропарсим сайт с необходимой таблицей

In [24]:
from bs4 import BeautifulSoup
import requests

url = 'https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/'

req = requests.get(url)
data = req.text
soup = BeautifulSoup(data, 'html.parser')

table = soup.find('table')
rows = table.tbody.findAll('tr')

years = []
cpis = []

for row in rows:
    year = row.findAll('td')[0].get_text()
    if year.isdigit() and int(year) < 2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))
        
cpi_table = pd.DataFrame({
    'avg_annual_cpi': cpis,
    'year': years, 
})

cpi_table.head(30)

    avg_annual_cpi  year
0              9.9  1913
1             10.0  1914
2             10.1  1915
3             10.9  1916
4             12.8  1917
5             15.1  1918
6             17.3  1919
7             20.0  1920
8             17.9  1921
9             16.8  1922
10            17.1  1923
11            17.1  1924
12            17.5  1925
13            17.7  1926
14            17.4  1927
15            17.1  1928
16            17.1  1929
17            16.7  1930
18            15.2  1931
19            13.7  1932
20            13.0  1933
21            13.4  1934
22            13.7  1935
23            13.9  1936
24            14.4  1937
25            14.1  1938
26            13.9  1939
27            14.0  1940
28            14.7  1941
29            16.3  1942

Экспортируем таблицу в .csv файл

In [25]:
cpi_table.to_csv ('../data/Lab1_Ziabrew_CPI.csv', index= False )

Запишем функцию перевода валюты

In [26]:
def get_real_value(nominal_amt, old_cpi, new_cpi):
    real_value = (nominal_amt * new_cpi) / old_cpi
    return real_value

Вычислим cpi 2016

In [27]:
CPI_2016 = (cpi_table[cpi_table['year'] == 2016]['avg_annual_cpi'].squeeze())

print(CPI_2016)

240.007

Проверим, в скольких строках датасета неизвестен год выпуска фильма:

In [28]:
print(len(df[df['title_year'] == 0.0]))

107

Поскольку наличие таких строк сильно усложняет работу с реальным бюджетом фильма, с учетом их количества проще от них избавиться.

In [29]:
df = df[df['title_year'] != 0.0]

Вычисление новых сборов и бюджета

In [30]:
real_domestic_gross = []
real_budget_values = []

for index, row in df.iterrows():
    gross =  row['gross']
    budget = row['budget']
    year = row['title_year']
    cpi = cpi_table[cpi_table['year'] == int(year)]['avg_annual_cpi'].squeeze()

    real_gross = get_real_value(gross, cpi, CPI_2016)
    real_budget = get_real_value(budget, cpi, CPI_2016)
    real_domestic_gross.append(real_gross)
    real_budget_values.append(real_budget)

df['real_domestic_gross'] = real_domestic_gross
df['real_budget'] = real_budget_values

Вычисление коэффициента прибыльности проката

In [31]:
profits = []
roi_vals = []

for index, row in df.iterrows():
    
    if (row['real_domestic_gross'] == 0 or row['real_budget'] == 0):
        profits.append(0)
        roi_vals.append(0)
        continue
    
    profit = row['real_domestic_gross'] - row['real_budget']
    budget = row['real_budget']
    num = profit - budget
    den = budget
    roi = num/den
    
    profits.append(profit)
    roi_vals.append(roi)

df['profit'] = profits
df['roi'] = roi_vals

Экспортируем обработанный датафрейм в .csv файл

In [32]:
df.to_csv ('../data/Lab1_Ziabrew_MO-221.csv', index= False )

# Гипотеза 1: Окупаемость фильма тем больше, чем меньше возрастной рейтинг фильма.

Избавимся от фильмов с неизвестной окупаемостью

In [33]:
roidf = df[df['roi'] != 0]
roidf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3857 entries, 0 to 62
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      3857 non-null   object
 1   director_name              3857 non-null   object
 2   num_critic_for_reviews     3857 non-null   float64
 3   duration                   3857 non-null   float64
 4   director_facebook_likes    3857 non-null   float64
 5   actor_3_facebook_likes     3857 non-null   float64
 6   actor_2_name               3857 non-null   object
 7   actor_1_facebook_likes     3857 non-null   float64
 8   gross                      3857 non-null   float64
 9   genres                     3857 non-null   object
 10  actor_1_name               3857 non-null   object
 11  movie_title                3857 non-null   object
 12  num_voted_users            3857 non-null   float64
 13  cast_total_facebook_likes  3857 non-null   float64
 14  actor_3_name               3857 non-null   object
 15  facenumber_in_poster       3857 non-null   float64
 16  plot_keywords              3857 non-null   object
 17  movie_imdb_link            3857 non-null   object
 18  num_user_for_reviews       3857 non-null   float64
 19  language                   3857 non-null   object
 20  country                    3857 non-null   object
 21  content_rating             3857 non-null   object
 22  budget                     3857 non-null   float64
 23  title_year                 3857 non-null   float64
 24  actor_2_facebook_likes     3857 non-null   float64
 25  imdb_score                 3857 non-null   float64
 26  aspect_ratio               3857 non-null   float64
 27  movie_facebook_likes       3857 non-null   object
 28  movie_facebook_likes;      3857 non-null   object
 29  real_domestic_gross        3857 non-null   float64
 30  real_budget                3857 non-null   float64
 31  profit                     3857 non-null   float64
 32  roi                        3857 non-null   float64
dtypes: float64(19), object(14)
memory usage: 1.0+ MB

Рассмотрим полученный датасет на наличие выбросов

In [34]:
roidf['roi'].describe()

count    3857.000000
mean        4.247754
std       130.169327
min        -1.999982
25%        -1.549085
50%        -0.930105
75%         0.223810
max      7192.485533
Name: roi, dtype: float64

Здесь значение 7192.485533 является выбросом. Воспользуемся методом межквартильного диапазона для очистки newdf от выбросов

In [35]:
Q1 = roidf['roi'].quantile(q=0.25)
Q3 = roidf['roi'].quantile(q=0.75)
IQR = Q3 - Q1
min = Q1-1.5*IQR
max = Q3+1.5*IQR
print(min)
print(max)

roidf_clean = roidf[roidf['roi'] > min]
roidf_clean = roidf[roidf['roi'] < max]

roidf_clean['roi'].describe()

-4.208425785714287
2.88315070952381

count    3479.000000
mean       -0.778273
std         1.081820
min        -1.999982
25%        -1.598834
50%        -1.060347
75%        -0.225392
max         2.877829
Name: roi, dtype: float64

Теперь выведем нужную статистику

In [36]:
roidf_clean.groupby('content_rating')['roi'].mean().sort_values()

content_rating
unknown   -1.668866
R         -0.846855
PG-13     -0.716407
NC-17     -0.607269
PG        -0.594416
G         -0.531637
Name: roi, dtype: float64

Отсюда видно, что со снижением возрастного рейтинга доходность фильмов в целом повышается. Гипотезу можно считать подтвержденной.

# Гипотеза 2: Фильмы с элементами драмы чаще всех имеют IMDB рейтинг выше 8.

Необходимо понять, какие фильмы включают в себе элементы драмы, а какие нет. Для этого введем датафрейм, равный исходному и отсеим фильмы, рейтинг которых меньше 8

In [37]:
genre_df = df
genre_df = genre_df[genre_df['imdb_score'] >= 8]

Напишем функцию, определяющую наличие нужного признака.

In [38]:
def isdrama(row):
    if row['genres'].find('Drama') != -1:
        return 'drama'
    else:
        return 'not drama'

Введем новый столбец isdrama, определяющий драматический характер фильма

In [39]:
genre_df['isdrama'] = genre_df.apply(isdrama, axis = 1)

C:\Users\ziabr\AppData\Local\Temp\ipykernel_2636\3491964351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_df['isdrama'] = genre_df.apply(isdrama, axis = 1)

Сгруппируем по рейтингу imdb и суммируем по количеству значений

In [40]:
genre_df.groupby('isdrama')['imdb_score'].count()

isdrama
drama        193
not drama     96
Name: imdb_score, dtype: int64

Отсюда явно видно, что драматические фильмы имеют практически двоекратное преимущество среди фильмов, оцененных в 8 и более баллов. Гипотеза подтверждена.

# Гипотеза 3: Фильмы с бюджетом выше среднего (по миру) имеют в среднем более высокую продолжительность, чем остальные.

Введем новый датафрейм

In [41]:
drt_df1 = df

Отсеем фильмы с бюджетом менее медианы

In [42]:
med = drt_df1['budget'].median()
drt_df1 = drt_df1[drt_df1['budget'] >= med]

Теперь отсеем фильмы с бюджетом более медианы. Для этого введем еще один датафрейм

In [43]:
drt_df2 = df

Аналогично

In [44]:
drt_df2 = drt_df2[drt_df2['budget'] <= med]

Теперь вычислим для каждого датафрейма среднюю продолжительность фильма и выведем частное двух значений

In [45]:
big_budget_dur = drt_df1['duration'].mean()
small_budget_dur = drt_df2['duration'].mean()
print(big_budget_dur/small_budget_dur)

1.1163108932914265

По величине значения можно понять, что какой-то существенной тенденции не наблюдается, поэтому гипотеза опровержена.

# Заключение

Были проверены следующие три гипотезы:

1. Окупаемость фильма тем больше, чем меньше возрастной рейтинг фильма.
2. Фильмы с элементами драмы чаще всех имеют IMDB рейтинг выше 8.
3. Фильмы с бюджетом выше среднего (по миру) имеют в среднем более высокую продолжительность, чем остальные.

Проанализировав данные, мы пришли к выводу:

1. С убывание возрастного рейтинга окупаемость действительно повышается, исключая аномалию в виде PG-13.

*Первая гипотеза* почти полностью подтвердилась.

2. Драм среди фильмов с высоким рейтингом IMDB действительно подавляющее большинство.

*Вторая гипотеза* полностью подтвердилась.

3. Длительность высокобюджетной ленты в целом не отличается от длительности низкобюджетной, поскольку разница на уровне погрешности.
*Третья гипотеза* отвергается.

# Дополнительное задание

In [ ]:
pvt = pd.pivot_table(df_from_pr, index=["city", "day"], values=['time'], aggfunc= "count")
pvt = pvt.query('day == ["Monday", "Wednesday", "Friday"]')
pvt = pvt.sort_values(by=['time'], ascending=False) 
pvt